<ion-content>
    <ng-container *ngIf="authenticated && recommendedEvents.length > 0">
        <h2>Recommended Events</h2>
        <ion-list>
            <ion-card *ngFor="let event of recommendedEvents" (click)="navigate(event)" class="clickable recommended" color="warning">
                <ion-card-header>
                    <ion-card-subtitle class="recommended"><ion-icon name="md-star"></ion-icon> Recommended Event</ion-card-subtitle>
                    <ion-card-title class="recommended">{{event.saleDescription}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p><span class="bold">Location:</span> {{event.address}}</p>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ng-container>
    <ng-container *ngIf="allEvents.length > 0">
        <h2>All Events</h2>
        <ion-toolbar>
            <ion-searchbar placeholder="Filter by location" [(ngModel)]="locationFilter"></ion-searchbar>
        </ion-toolbar>
        <ion-list>
            <ion-card *ngFor="let event of allEvents | eventsFilter : locationFilter" (click)="navigate(event)" class="clickable">
                <ion-card-header>
                    <ion-card-subtitle>Hosted by {{event.vendorUsername}}</ion-card-subtitle>
                    <ion-card-title>{{event.saleDescription}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p><span class="bold">Location:</span> {{event.address}}</p>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </ng-container>
</ion-content>