<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Food Truck Finder
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1 *ngIf="authenticated">Welcome, {{session.currentUser}}!</h1>
    <img id="logo" src="../../assets/logo.png" />
    <ion-card *ngIf="!authenticated && !hideLogin">
            <ion-card-header>
                <ion-card-title>Log In</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <app-login></app-login>
                <ion-buttons slot="end">
                    <ion-button (click)="hideLoginCard()">
                        <ion-icon slot="start" name="close"></ion-icon>
                        <ion-label>No Thanks</ion-label>
                    </ion-button>
                </ion-buttons>
            </ion-card-content>
        </ion-card>
    <app-events-list></app-events-list>
    <ion-fab *ngIf="authenticated" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openCreateEventForm()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>